<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/about.css">
  <link rel="stylesheet" href="../assets/footer.css">
  <link rel="stylesheet" href="../assets/header.css">
</head>
<body>
  <main>
    <header>
      <nav>
        <a href="#">
          <img src="../icons/spellable-logo.png" alt="spellable-logo" width="40">
        </a>

        <div class="parent">
          <a href="/how-to-play">How to Play</a>
          <a href="/learning-materials">Learning Resources</a>
          <a href="/leaderboard">Leaderboard</a>
          <a href="/about">About</a>
        </div>
      </nav>

      <div class="logins">
        <a href="" class="sign-in">Sign in</a>
        <a href="" class="join-now">Join now</a>
      </div>
    </header>
    <div class="blog mb-10 position-relative navbar-padding navbar-padding">
      <div class="blog-purple-wave-container text-center text-bg-purple py-6 mb-4">
        <h1 class="text-light">What is Spellable</h1>
      </div>
      <div class="container">
        <div class="nav nav-pills mb-4 small custom-nav">
          <div class="pills-nav-item">
            <a class="nav-link about-and-resources active" aria_current="page" href="/about">About Spellable</a>
          </div>
          <div class="pills-nav-item">
            <a class="nav-link about-and-resources" href="/about-dulcie">About Dulcie</a>
          </div>
          <div class="pills-nav-item">
            <a class="nav-link about-and-resources" href="/faq">FAQs</a>
          </div>
          <div class="pills-nav-item">
            <a class="nav-link about-and-resources" href="/testimonials">Testimonials</a>
          </div>
        </div>
        <div class="text-group text-list">
          <p align="left">Spellable is the web app designed to help adults master frequently misspelled words, boosting their confidence in everyday writing.</p>
        </div>
        <div class="text-group text-list">
          <p align="left">Many adults struggle with spelling and feel it prevents them from achieving their goals. They often use various tools and strategies to aid their writing, but there's always the fear of being caught without them, leading to embarrassment when misspellings arise. Traditional methods like sounding out words and rote memorization didn't work for them in school and don't work now. Adults need a new approach that uses their strengths, explains how spelling works, is geared towards adults, fits into their busy schedules, and is affordable.</p>
        </div>
        
        <div class="text-group text-list">
          <p align="left">Spellable was created with these needs in mind. It offers lessons and games on spelling words appropriate for adult spellers and is available 24/7 at a very reasonable cost. Importantly, it relies on something other than sounding out words or rote memorization. Instead, it draws on Structured Word Inquiry (SWI), an approach founded by Dr. Peter Bowers. The SWI approach asks four key questions about a word:</p>
        </div>  
        <div class="text-group text-list">
          <ol>
            <li>What does the word mean?</li>
          <ol>
          </ol>
                <li> What are the word's historical and present-day relatives?</li>
                <ol>
          </ol>
                <li>How is the word built? (Are there prefixes and suffixes, or is it just a base?)</li>
                <ol>
          </ol>
                <li>What is the job of each letter?</li>
                <ol>
          </ol>
          </ol>
        </div>
        
        <div class="text-group text-list">
          <p align="left">These questions can be complex and time-consuming to answer. Many adults lack the time and resources to hire a specialist to learn this, so Spellable answers these crucial questions about frequently misspelled words for them.</p>
        </div>
        
        <div class="text-group text-list">
          <p align="left">The spelling words found in Spellable come from various online sources offering lists of frequently misspelled words. Typically, adults already know the meaning of these words. Spellable addresses questions #2 and #3 by researching the Oxford English Dictionary, Merriam-Webster Dictionary, and Etymonline.com to identify the word's relatives, base, and affixes (prefixes and suffixes). These word parts, called morphemes, make up English morphology.</p>
        </div>
        
        <div class="text-group text-list">
          <p align="left">Spelling lessons are designed by selecting words from each morphological family of frequently misspelled words that adults are likely familiar with. These lessons build on this knowledge to help learners spell the target word correctly. The aim is to spell familiar words, laying the foundation for tackling more challenging words.</p>
        </div>
        
        <div class="text-group text-list">
          <p align="left">To practice spelling these frequently misspelled words, spellers will use a word matrix (a visual representation of a word family) and word sums (think of this as math for spelling). These tools rely on a speller's visual skills rather than sounding out words or rote memorization. Spellers can practice by taking a lesson or playing a game of Matrix Mania as many times as needed until they feel confident.</p>
        </div>
        
        <div class="text-group text-list">
          <p align="left">The addition of lessons to the Spelling Lessons library and matrices to Matrix Mania is ongoing. If your frequently misspelled word isn't in the Spellable Spelling Lesson library, just email us at SpellableApp@gmail.com, and we'll do our best to include it.</p>
        </div>
      </div>
    </div>
  </main>
  
  <footer class="footer">
    <div class="footer-top">
      <div class="footer-fixed">
        <div class="footer-logo">
          <img
            src="https://spellableapp.sfo2.cdn.digitaloceanspaces.com/logo/spellable-logo-and-name%20.png"
            alt="spellable-logo"
            width="230"
            style="background: #1a1a1a; display: block; margin-bottom: 32px"
          />
        </div>
        <div class="footer-desc">
          <p>
            Spellable is a web-based app designed to help adults improve their
            spelling skills by mastering the most commonly misspelled words
            and their related forms. Build confidence in your written
            communication as you learn the rules of spelling and practice with
            interactive tools that make spelling easier and more intuitive.
            Try Spellable today to enhance your writing accuracy and
            communication skills!
          </p>
        </div>
      </div>
      <div class="footer-fluid">
        <div class="footer-links-row">
          <div class="footer-links-cols-group">
            <div class="footer-links-col">
              <h5>GAMES</h5>
              <ul>
                <li><a href="/?play=spelling_lesson">Spelling Lessons</a></li>
                <li><a href="/?play=matrix_mania">Matrix Mania</a></li>
              </ul>
            </div>
            <div class="footer-links-col">
              <h5>RESOURCES</h5>
              <ul>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/faq">FAQs</a></li>
                <li><a href="/testimonials">Testimonials</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-links-cols-group">
            <div class="footer-links-col">
              <h5>ABOUT</h5>
              <ul>
                <li><a href="/about">About Spellable</a></li>
                <li><a href="/about-dulcie">About Dulcie</a></li>
              </ul>
            </div>
            <div class="footer-links-col">
              <h5>CONTACTS</h5>
              <ul>
                <li>
                  <a href="mailto:spellableapp@gmail.com"
                    >spellableapp@gmail.com</a
                  >
                </li>
                <li class="footer-socials">
                  <a
                    href="https://www.facebook.com/SpellableApp"
                    target="_blank"
                  >
                    <img
                      src="../icons\facebook.png"
                      alt="Facebook"
                      width="45"
                      height="45"
                    />
                  </a>
                  <a
                    href="https://www.instagram.com/spellableapp/"
                    target="_blank"
                  >
                    <img
                      src="../icons\Insta.png"
                      alt="Facebook"
                      width="35"
                      height="35"
                    />
                  </a>
                  <a
                    href="https://www.youtube.com/@SpellableApp"
                    target="_blank"
                  >
                    <img
                      src="../icons/facebook.png"
                      alt="Facebook"
                      width="45"
                      height="45"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-left">© Spellable 2025</div>
      <div class="footer-bottom-right">
        <a href="/privacy_policy">Privacy Policy</a>
        <a href="/terms_of_use">Terms of Use</a>
      </div>
    </div>
  </footer>
</body>
</html>