body{
    margin: 0;
}

header{
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    /* background-color: pink; */
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;
    /* border: solid 2px black; */
    width: 45%;
}

/* #img{
    border: solid 2px red;
} */

.parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    /* border: solid 2px green; */
    height: 50px;
}

.parent a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.5;
    height: 35px;
    width: auto;
    border-radius: 0.5rem !important;
    align-items: center;
    display: flex;
    padding: 2;
}


.logins{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* border: solid 2px black; */
    width: 200px;
    width: 23%;
}

.logins a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    height: 35px;
    width: auto;
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 1.5;
    border-radius: 0.5rem;
    align-items: center;
    display: flex;
}

.logins .sign-in{
    border: solid 2px #5e3281;
    height: 43px;
    width: 80px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.logins .join-now{
    background-color: #5e3281;
    height: 45px;
    width: 90px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: white;
}

#about{
    background-color: #117F41;
    color: white;
    width: 65px;
    height: 45px;
    display: flex;
    justify-content: center;
}

